{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Admissions</h4>
            <div style="text-align:right;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/admissioncreate' " style="text-align:center;">+
                </button>
            </div>
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Blood Type</th>
                            <th>Admission Date</th>
                            <th>Admission Age</th>
                            <th>Reason</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for admission in admission_list %}
                        <tr>
                            <td>{{ admission.first_name }}</td>
                            <td>{{ admission.last_name }}</td>
                            <td>{{ admission.age }}</td>
                            <td>{{ admission.blood_type }}</td>
                            <td>{{ admission.admission_date }}</td>
                            <td>{{ admission.admission_age }}</td>
                            <td>{{ admission.reason }}</td>
                            <td>{{ admission.status }}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
